[submodule "opentelemetry-js"]
	path = src/opentelemetry-js
	url = https://github.com/SumoLogic/opentelemetry-js.git
[submodule "opentelemetry-js-contrib"]
	path = src/opentelemetry-js-contrib
	url = https://github.com/SumoLogic/opentelemetry-js-contrib.git
[submodule "opentelemetry-js-api"]
	path = src/opentelemetry-js-api
	url = https://github.com/open-telemetry/opentelemetry-js-api.git
