[submodule "opentelemetry-js"]
	path = src/opentelemetry-js
	url = https://github.com/open-telemetry/opentelemetry-js
[submodule "opentelemetry-js-contrib"]
	path = src/opentelemetry-js-contrib
	url = https://github.com/open-telemetry/opentelemetry-js-contrib.git
