[submodule "opentelemetry-js"]
	path = src/opentelemetry-js
	url = https://github.com/SumoLogic/opentelemetry-js.git
[submodule "opentelemetry-js-contrib"]
	path = src/opentelemetry-js-contrib
	url = https://github.com/SumoLogic/opentelemetry-js-contrib.git
